@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">
        <i class='bx bx-package'></i>
        <span> Inventario </span>
    </h1>
        
    <p class="lead">
        App para manejar inventario simple
    </p>
</div>
